@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* ** ========== Theme Colours ========== ** */
:root {
    --red-color: #ff0000;
    --black-color: #000000;
    --white-color: #ffffff;
    --faded-color: #cccccc;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.alert {
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 12px;
    padding: 6px;
    margin: 0;
    border-radius: 0;
    border: none;
}

.navBar {
    background-color: var(--black-color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Boat-Logo {
    height: 3rem;
}

.nav-menu {
    display: flex;
    margin: 0;
}

.nav-menu li {
    padding: 0 1rem;
    list-style: none;
}

#li1, #li2, #li3 {
    border-right: 2px solid var(--red-color);
}

.nav-menu li a {
    text-decoration: none;
    color: var(--faded-color);
    font-size: 15px;
}

.activeLink {
    color: var(--white-color);
}

#search {
    border-radius: 1rem;
    padding: 5px 10px;
}